appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.1
bandit==1.6.2
beautifulsoup4==4.9.0
blinker==1.4
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.0
dnspython==1.16.0
email-validator==1.1.0
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
gitdb==4.0.5
GitPython==3.1.3
html5lib==1.0.1
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.4
pandas==1.0.3
pbr==5.4.5
Pillow==8.1.1
pylint==2.5.2
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytube==9.6.0
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
smmap==3.0.4
soupsieve==2.0.1
SQLAlchemy==1.3.16
sqlparse==0.3.1
stevedore==2.0.0
toml==0.10.0
urllib3==1.25.9
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.1
