*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    overflow: hidden;
    min-height:8vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(56, 161, 202)
  }
.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing:5px;
    font-size:20px;
  }
.nav-links {
    display:flex;
    justify-content:space-around;
    width:30%
  }
.nav-links li{
    list-style: none;
  }

.nav-links a{
    color:white;
    text-decoration: none;
    letter-spacing:3px;
    font-weight:bold;
    font-size: 15px;
  }
.nav-links a:hover{
    color:yellow;
  }
.burger{
    display:none;
    cursor:pointer;
  }
.burger div{
    width:25px;
    height:3px;
    background-color:white;
    margin:5px;
    transition: all 0.3s ease;
  }
@media screen and (max-width:1024px){
    .nav-links {
      width:60%;
      overflow: hidden;
    }
  }
  
@media screen and (max-width:768px){
    body{
      overflow: hidden;
    }
.nav-links {
    position:absolute;
    right:0px;
    height:92vh;
    top:8vh;
    background-color: inherit;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:50%;
    transform:translateX(100%);
    transition: transform 0.5s ease-in;
  }
.nav-links li{
    opacity:0;
  }
.burger{
    display: block;
  }
  
  }
.nav-active{
    transform: translateX(0%);
  }
@keyframes navLinkFade{
    from{
      opacity:0;
      transform:translateX(50px);
    }
    to{
      opacity:1;
      transform: translateX(0px);
    }
  }
  
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
.toggle .line2{
    opacity:0;
  }
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  
  }
  h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: relative;
    left:20%;
    top:20%

  }

  section{
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }

.signup{
  position: relative;
  background-color: inherit;
  left:250px;
  top:200px;
  width:150px;
  height:50px;
  border-color: yellow;
  border-radius: 10%;
  border-style: double;
}
.signup-link{
  text-decoration: none;
  color: yellow;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.signup-link:hover {
  text-decoration: none;
  color: yellow;
  font-size: 18px;
}

.signup:hover{
  position: relative;
  background-color: inherit;
  width:160px;
  height:60px;
  border-color: yellow;
  border-radius: 15%;
  border-style: double;
}



  @media only screen and (max-width: 767px) {
    section{
      height: 800px;
      background-image: url("https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      background-attachment: fixed;
    }
    .signup{
      position: relative;
      background-color: inherit;
      left:190px;
      top:100px;
      width:150px;
      height:50px;
      border-color: yellow;
      border-radius: 10%;
      border-style: double;
    }
  }

  @media only screen and (max-width: 1024px) {
    section{
      height: 800px;
      background-image: url("https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden; 
      background-attachment: fixed;
    }
    .signup{
      position: relative;
      background-color: inherit;
      left:100px;
      top:190px;
      width:150px;
      height:50px;
      border-color: yellow;
      border-radius: 10%;
      border-style: double;
    }
  }

