{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="static/css/login.css">
<title>Login</title>{% endblock %}

{% block body %}


<form action="", method="POST">
    <div class="box">
        <h2>Request New Password</h2>   
        {{form.hidden_tag()}}
        <div>
            <fieldset>
                <div class="input-container">
                    {{form.email( class="effect-1", type="email" ,placeholder="Email") }} 
                    <span class="focus-border"></span><br>
                    {% for error in form.email.error %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div> <br>

                {{form.submit (class="button")}}
                  </form>

            </fieldset>
       </div>
    </div>
{% endblock %}
